{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="alert alert-warning text-center"> {{i.firstname}} {{i.lastname}} </h3>
    <ul>
        <li><strong>ID: </strong>{{i.id}}</li>
        <li><strong>First Name: </strong>{{i.firstname}}</li>
        <li><strong>Last Name: </strong>{{i.lastname}}</li>
        <li><strong>Email: </strong>{{i.email}}</li>
        <li>
            <strong>Action: </strong>
            <button>
                <a href="{% url 'updatecandidate' i.id %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </button>

            <form action="{% url  'deletecandidate' i.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit">
                    <i class="fa-solid fa-trash "></i>
                </button>
            </form>
        </li>
    </ul>
</div>
{% endblock content %}