<aside class="main-sidebar">
  <section class="sidebar">
    <div style="height:40px;"></div>
    <ul class="sidebar-menu" data-widget="tree">
      <li class=""><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class=""><a href="{% url 'voterspage' %}"><i class="fa fa-users"></i> <span>Voters</span></a></li>
      <li class=""><a href="{% url 'positionspage' %}"><i class="fa fa-tasks"></i> <span>Positions</span></a></li>
      <li class=""><a href="{% url 'candidatespage' %}"><i class="fa fa-black-tie"></i> <span>Candidates</span></a></li>
      <li class=""><a href="{% url 'viewresults' %}"><i class="fa fa-file-text"></i> <span>View Results</span></a></li>
      <li class=""><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> <span>Logout</span></a></li>

    </ul>
  </section>
</aside>